<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BIRD_FARM_SHOP_ANDROID"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!--  Bird Config Admin Home Page -->
        <activity
            android:name=".adminHomePage.bird.BirdUploadActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.bird.BirdUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.bird.BirdDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.bird.BirdActivity"
            android:exported="false" />

        <!--  Nest Config Admin Home Page -->
        <activity
            android:name=".adminHomePage.nest.NestActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.nest.NestUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.nest.NestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.nest.NestUploadActivity"
            android:exported="false" />

        <!--  Food Config  Admin Home Page -->
        <activity
            android:name=".adminHomePage.food.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.food.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.food.FoodUploadActivity"
            android:exported="false" />
        <activity
            android:name=".adminHomePage.food.FoodUpdateActivity"
            android:exported="false" />

        <!--  Bird Config Customer Home Page -->
        <activity
            android:name=".customerHomePage.bird.BirdActivityCustomer"
            android:exported="false" />
        <activity
            android:name=".customerHomePage.bird.BirdDetailActivityCustomer"
            android:exported="false" />

        <!--  Nest Config Customer Home Page -->
        <activity
            android:name=".customerHomePage.nest.NestActivityCustomer"
            android:exported="false" />
        <activity
            android:name=".customerHomePage.nest.NestDetailActivityCustomer"
            android:exported="false" />

        <!--  Food Config Customer Home Page -->
        <activity
            android:name=".customerHomePage.food.FoodActivityCustomer"
            android:exported="false" />
        <activity
            android:name=".customerHomePage.food.FoodDetailActivityCustomer"
            android:exported="false" />

        <!--    Config for Login and Register Activity  -->
        <activity android:name=".authenticate.LoginActivity"/>
        <activity android:name=".authenticate.RegisterActivity"/>
        <activity android:name=".adminHomePage.MainActivityNavigationBarAdmin"/>
        <activity android:name=".customerHomePage.MainActivityNavigationBarCustomer"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>